body {
    background-color: black;
    color: white;
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
}

.Ptitle {
    text-align: center;
}
div.note {
    border-left-color: #0060DF;
}
p.note-title {
    background-color: #0060DF;
    color: white;
}
.exc {
    border-radius: 50px;
}
div.note {
    padding: 0 0.8em;
    padding-bottom: 0.8em;
    margin: auto;
    border-radius: 2.5px;
    border-left-width: 6px;
    border-left-style: solid;
    background-color: #111111;
    width: 50%;
}
.noteP {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 8px;
    font-size: 20px;
}
p.note-title {
    font-weight: bold;
    margin: 0 -1.4rem;
    padding: 0.4rem 0.6rem 0.4rem 2.5rem;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.entret {
    margin-left: 250px;
    font-size: 30px;
    float: left;
}
.spantxt {
    font-size: 15px;
    color: rgb(187, 187, 187);
}
.sideinfo {
    background-color: rgb(27, 27, 27);
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 20%;
}

.info1 {
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
div.notecommands {
    padding: 0 0.8em;
    padding-bottom: 0.8em;
    margin-left: 40px;
    border-radius: 2.5px;
    border-left-width: 6px;
    border-left-style: solid;
    background-color: #111111;
    font-size: 5px;
    border-left-color: #b4df1a;
}
.userstyle {
    color: rgb(166, 182, 19);
    font-size: 15px;
}
.objectstyle {
    color: green;
    font-size: 15px;
}
.opcionalstyle {
    color: rgb(66, 66, 66);
    font-size: 15px;
}
.textstyle {
    color: rgb(64, 169, 255);
    font-size: 15px;
}
.serverstyle {
    color: darkgoldenrod;
    font-size: 15px;
}
.intstyle {
    color: lightblue;
    font-size: 15px;
}
.filestyle {
    color: indigo;
    font-size: 15px;
}
hr {
    border-color: red;
}